doctype html
mixin li_menu_item(icon, label, link)
  li
    a.router-link-active.has-icon(class=((title == label) ? 'is-active' : '') href=link)
      span.icon
        i.mdi(class='mdi-'+icon)
      span.menu-item-label #{label}

html.has-aside-left.has-aside-mobile-transition.has-navbar-fixed-top.has-aside-expanded
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Asphyxia CORE - #{title}
    link(rel="stylesheet", href="/static/css/bulma.min.css")
    link(rel="stylesheet", href="/static/css/margin.min.css")
    link(rel="stylesheet", href="/static/css/materialdesignicons.min.css")
    link(rel="stylesheet", href="/static/css/tooltip.min.css")
    link(rel="stylesheet", href="/static/css/style.css")
    script(type="text/javascript" src="/static/js/axios.js")
    block styles
  body
    #app
      nav.navbar.is-fixed-top.is-info.is-mobile#navbar-main
        .navbar-brand
          a.navbar-item.is-hidden-desktop.jb-aside-mobile-toggle
            span.icon
              i.mdi.mdi-forwardburger.mdi-24px
          .navbar-item
            .image.is-24x24.logo
              img(src="/static/img/logo.png")
            span Asphyxia CORE
        .navbar-brand.is-right
          a.navbar-item.is-hidden-desktop.jb-navbar-menu-toggle(data-target="navbar-menu")
            span.icon
              i.mdi.mdi-dots-vertical
        .navbar-menu#navbar-menu
          .navbar-end
            .navbar-item.has-dropdown.has-dropdown-with-icons.has-divider.is-hoverable
              a.navbar-link.is-arrowless
                span.icon
                  i.mdi.mdi-menu
                span Menu
                span.icon
                  i.mdi.mdi-chevron-down
              .navbar-dropdown
                a.navbar-item
                  span.icon
                    i.mdi.mdi-account
                  span Subitem
      aside.aside.is-placed-left.is-expanded
        .aside-tools
          .aside-tools-label
            span #{version}
        .menu.is-menu-main
          p.menu-label Core
          ul.menu-list
            +li_menu_item("desktop-mac", "Dashboard", "/")
            +li_menu_item("account-circle", "Profiles", "/profiles")
            +li_menu_item("cog", "Settings", "/settings")
            +li_menu_item("help-circle", "About", "/about")
          p.menu-label Plugins
          ui.menu-list
            each plugin in plugins
              -
                var link = plugin.toLowerCase();
                var char = link[0];
                var label = plugin.toUpperCase();
                var isAlpha = /[a-z]/.test(char);
                var isNumeric = /[0-9]/.test(char);
                var icon = isAlpha ? `alpha-${char}-circle` : (isNumeric ? `numeric-${char}-circle` : 'record-circle');
              +li_menu_item(icon, label, '/plugin/'+link)
      .content
        section.hero.is-hero-bar
          .hero-body.title #{title}
        section.section.is-main-section
          block content

      footer.footer
        .content.has-text-centered
          p 
            | Made with
            span.icon.has-text-danger
              i.mdi.mdi-heart
            | by TsFreddie | Plugins by 
            a(href="/about") Community
      
      script(type="text/javascript" src="/static/js/main.js")
      block scripts